@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-button: #031954;
        --color-background: #f9fcff;
        --color-headerlist: #02206f;
    }
}

@layer components {

}
